<div class="container-fluid position-relative h-100 overflow-hidden">
    <div class="row h-100 position-relative overflow-hidden">
        <div class="col-12 position-fixed top-0 start-0 h-100 d-flex gap-3 d-md-none z-3 menu" *ngIf="show">
            <div class="d-flex h-100 col-auto">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col" (click)="close()"></div>
        </div>
        <div class="col-auto h-100 d-none d-md-block">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col h-100 overflow-x-hidden overflow-y-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<app-toast></app-toast>