<div
    class="row position-relative flex-column h-100 bg-white border-2 border-opacity-25 border-end border-light-subtle py-3 sidebar">
    <div class="col d-flex flex-column align-items-center gap-3">
        <div class="ratio ratio-1x1 rounded-2 icon position-relative" role="button" tabindex="0"
            routerLink="/restaurants" routerLinkActive="active">
            <div class="p-2 d-flex gap-3 align-items-center justify-content-center fw-bold">
                <i class="fs-5 bi bi-shop-window"></i>
                <div class="position-absolute ms-2 start-100 fs-6 px-3 py-2 rounded-2 text-black bg-white border border-opacity-25 border-2 border-light-subtle text-nowrap user-select-none popup">
                    Restaurants
                </div>
            </div>
        </div>
        <div class="ratio ratio-1x1 rounded-2 icon" role="button" tabindex="0" routerLink="/order"
            routerLinkActive="active">
            <div class="p-2 d-flex align-items-center justify-content-center fw-bold">
                <i class="fs-5 bi bi-receipt-cutoff"></i>
                <div class="position-absolute ms-2 start-100 fs-6 px-3 py-2 rounded-2 text-black bg-white border border-opacity-25 border-2 border-light-subtle text-nowrap user-select-none popup">
                    Orders<br>
                    <span class="text-secondary text-opacity-75">Coming soon</span>
                </div>
            </div>
        </div>
        <div class="ratio ratio-1x1 rounded-2 icon" role="button" tabindex="0" routerLink="/deliveries"
            routerLinkActive="active">
            <div class="p-2 d-flex align-items-center justify-content-center fw-bold">
                <i class="fs-5 bi bi-truck"></i>
                <div class="position-absolute ms-2 start-100 fs-6 px-3 py-2 rounded-2 text-black bg-white border border-opacity-25 border-2 border-light-subtle text-nowrap user-select-none popup">
                    Deliveries<br>
                    <span class="text-secondary text-opacity-75">Coming soon</span>
                </div>
            </div>
        </div>
        <div class="ratio ratio-1x1 rounded-2 icon" role="button" tabindex="0" routerLink="/users"
            routerLinkActive="active">
            <div class="p-2 d-flex align-items-center justify-content-center fw-bold">
                <i class="fs-5 bi bi-people"></i>
                <div class="position-absolute ms-2 start-100 fs-6 px-3 py-2 rounded-2 text-black bg-white border border-opacity-25 border-2 border-light-subtle text-nowrap user-select-none popup">
                    Users<br>
                    <span class="text-secondary text-opacity-75">Coming soon</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="ratio ratio-1x1 rounded-2 icon" role="button" tabindex="0" routerLink="/settings"
            routerLinkActive="active">
            <div class="p-2 d-flex align-items-center justify-content-center fw-bold">
                <i class="fs-5 bi bi-gear"></i>
                <div class="position-absolute ms-2 start-100 fs-6 px-3 py-2 rounded-2 text-black bg-white border border-opacity-25 border-2 border-light-subtle text-nowrap user-select-none popup">
                    Settings<br>
                    <span class="text-secondary text-opacity-75">Coming soon</span>
                </div>
            </div>
        </div>
    </div>
</div>